#options {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    color: #4c4c4c;
    font-family: Century Gothic, sans-serif;
    font-size: 26px;
    height: auto;
    margin: 10px auto 20px auto;
    text-align: center;
    width: 70%;
}

#manual-add {
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    display: table;
    float: left;
    height: 120px;
    margin: 15px 0 15px 6%;
    padding: 10px;
    text-align: center;
    25%;
    width: 20%;
}

#manual-add div, #bandcamp-contents {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#bandcamp-add {
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    display: table;
    float: right;
    height: 120px;
    margin: 15px 6% 15px 0;
    padding: 10px;
    text-align: center;
    width: 60%;
}

.bandurl {
    width: 80%;
}

.album-row {
    width: 70%;
}

.album {
    margin: 3px auto;
    width: 40%;
    height: 100px;
    color: #4c4c4c;
}

.info {
    margin: 12px; 
    text-decoration: none;
}

.album:hover:not(.filler) {
    cursor: pointer;

    font-size: 26px;

    background: #b41820;
    background: -webkit-linear-gradient(left top, #ca1c24, #9d151c);
    background: -o-linear-gradient(bottom right, #ca1c24, #9d151c);
    background: -moz-linear-gradient(bottom right, #ca1c24, #9d151c);
    background: linear-gradient(to bottom right, #ca1c24, #9d151c);
    border: 1px solid #9d151c;
    color: white;
}

#manual-add:hover {
    cursor: pointer;

    background: #b41820;
    background: -webkit-linear-gradient(left top, #ca1c24, #9d151c);
    background: -o-linear-gradient(bottom right, #ca1c24, #9d151c);
    background: -moz-linear-gradient(bottom right, #ca1c24, #9d151c);
    background: linear-gradient(to bottom right, #ca1c24, #9d151c);
    box-shadow: 1px 1px 2px 2px #9d151c; 
    color: white;
}

.filler {
    background: #737373;
    background: -webkit-linear-gradient(left top, #cccccc, #b3b3b3);
    background: -o-linear-gradient(bottom right, #cccccc, #b3b3b3);
    background: -moz-linear-gradient(bottom right, #cccccc, #b3b3b3);
    background: linear-gradient(to bottom right, #cccccc, #b3b3b3);
    border: 1px solid #d9d9d9; 
}
