.item-form {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
}

.right {
    display: inline-block;
    float: right;
}

.left {
    display: inline-block;
    float: left;
}

.form-margin {
    margin: 5px 15px 15px 0px;
    width: 100%;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
} 
.form-margin:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 3px 1px #969696;
}

.login {
    margin: 5px auto 15px auto;
    width: 80%;
}

.item-holder {
    margin: 0 auto;
    width: 70%;
}

.info-form {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.wide {
    width: 60%;
}

.add-hold {
    margin: 0 auto;
    padding: 20px;
    width: 40%;

    font-family: Century Gothic, sans-serif;
    font-size: 24px;

    background-color: #fff;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

.local {
    width: 20px;
    height: 20px;
}

.submit {
    margin-top: 15px;
}

.submit-hold {
    margin: 20px auto 0px auto;
}

#redirect {
    margin: 10px;
    font-size: 20px;
}

#error {
    font-size: 24px;
}
