body {
    background-color: #f2f2f2;
}

#header-main {
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    height: 125px;
    width: 100%;
    border: 2px #bfbfbf;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

#title {
    display: inline-block;
    position: relative;
    height: 40%;
    font-size: 36px;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    color: #4c4c4c;
    background-color: #fff;
    padding-top: 50px;
    white-space: nowrap;
}

#logo {
    float: left;
    position: absolute;
    padding: 45px 0 10px 20px;
}

.right {
    float: right;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 90px;
}

#navbar {
    background-color: #fff;
    border: 2px #bfbfbf;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 

    height: 60px;
    margin: 2px auto 15px auto;
    overflow: hidden;
    width: 100%;
}

.navlist {
    display: inline;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding 0;
    width: 50%;
}

.navlist li {
    display: table;
    font-family: Century Gothic, sans-serif;
    font-size: 18px;
    float: left;
    height: 100%;
    text-align: center;
}

.navlist.right li {
    float: right;
}

.navlink {
    color: inherit;
    text-decoration: none;

    display: table-cell;
    vertical-align: middle;
    width: 90px;
}

.navlist li:hover:not(.active):not(#username) {
    color: #b41820;
/*
    background: #737373;
    background: -webkit-linear-gradient(left top, #808080, #595959);
    background: -o-linear-gradient(bottom right, #808080, #595959);
    background: -moz-linear-gradient(bottom right, #808080, #595959);
    background: linear-gradient(to bottom right, #808080, #595959);
    border-color: 2px solid #e01f28;
    color: white;
    padding: 0;
    margin: 0;
*/
}

.active {
    background: #b41820;
    background: -webkit-linear-gradient(left top, #e3353e, #9d151c);
    background: -o-linear-gradient(bottom right, #e3353e, #9d151c);
    background: -moz-linear-gradient(bottom right, #e3353e, #9d151c);
    background: linear-gradient(to bottom right, #e3353e, #9d151c);
    box-shadow: 1px 1px 2px 2px #9d151c;
    color: white;
}

#username {
    float: right;
    display: table;
    height: 100%;
    width: 60px;
    text-align: center;
    margin-right: 10px;
    font-family: Century Gothic, sans-serif;
    font-size: 24px;
    color: #4c4c4c;
}

#username div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: black;
}

#navbuttons {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
}

#date {
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    background-color: #fff;
    box-shadow: 1px 1px 3px 3px #bfbfbf; 
    margin: 10px auto 15px auto;
    padding: 20px;
    width: 60%;
}

.base-btn {
    float: right;
    margin: 0 5px;
}

.body {
    margin-top: 1%;
    margin-bottom: 30px;
    text-align: center;
    border: 4px #bfbfbf;
}

.row {
    margin: 0 auto;
    width: 90%;
    display: table;
}

.archive-20 {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 60%;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    margin: 3px auto;
    padding: 20px;
}

.archive-20:hover {
    background: #b41820;
    background: -webkit-linear-gradient(left top, #e3353e, #9d151c);
    background: -o-linear-gradient(bottom right, #e3353e, #9d151c);
    background: -moz-linear-gradient(bottom right, #e3353e, #9d151c);
    background: linear-gradient(to bottom right, #e3353e, #9d151c);
    box-shadow: 1px 1px 2px 2px #9d151c;
    color: white;
    font-weight: bold;
}

.top-link {
    width: 100%;
}

.top-link:link, .top a:link {
    color: inherit;
    text-decoration: none;
}

.top-link:visited, .top a:visited {
    color: inherit;
    text-decoration: none;
}

#sortbar {
    background-color: #fff;
    border: 2px #bfbfbf;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    color: #4c4c4c;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    width: 60%;
}

#info-hold {
    display: inline-block;
    margin: 5px auto;
    width: 80%;
}

#key {
    display: inline-block;
    float: left;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    margin: 10px 20px;
    color: #4c4c4c;
}

#sort-hold {
    display: inline-block;
    float: right;
}

#sort-label {
    display: inline-block;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #4c4c4c;
    margin: 10px;
}

.sort-link {
    color: #4c4c4c;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
}

.entry {
    display: inline-block;
    text-align: left;
    height: 100%;
    width: 80%;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    padding-left: 20px;
    padding-top: 20px;
    margin: 1px 1px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}

.item-info {
    padding-left: 0;
}

.admin-entry {
    padding: 20px 0 20px 20px;
}

.updater {
    margin: 5px 0 15px 0;
}

.updates {
    width: 60%;
}

.local-updater {
    margin: 20px 10px;
}

.local-updates {
   margin-right: 20px; 
}

.info-head {
    font-weight: bold;
}

.info-div {
    margin: 5px 0 20px 10px;
}

.tracks {
    float: left;
    margin: 0px auto 30px auto;
    visibility: hidden;
    text-align: center;
    width: 100%;
    height: 0px;
}

.track {
    display: inline-block;
    width: 60%;
    padding: 15px;
}

#message-body {
    width: 70%;
    margin: 0 auto 20px auto;
    min-height: 200px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

#log-confirm {
    width: 50%;
    min-height: 50px;
    height: auto;
    margin: 0 auto; 
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

#log-confirm button {
    height: 40px;
}

.wait-text {
    margin: 10px;
}

.table {
    display: table;
}

.message-text {
    display: table-cell;
    vertical-align: middle;
}

#log-template {
    font-size: 26px;
    margin: 20px 0 25px 0;
}

#top-format-hold {
    display: inline-block;
    margin: 5px auto;
    width: 90%;
}

#top-format {
    margin: 8px 0 3px 25px;
    float: left;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
}

#log-text {
    max-height: 500px;
    width: 100%;
    overflow-y: scroll;
}

.larger {
    width: 90%;
}

.solo-song-hold {
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    display: inline-block;
    margin: 2px auto;
    padding: 5px;
    text-align: left;
    width: 90%;
}

.solo-song-hold:hover {
    color: white;
    background-color: #b41820;
    box-shadow: 1px 1px 2px 2px #9d151c;
    cursor:pointer;
}

.track-entry {
    border: 2px solid #bfbfbf;
    padding: 10px;
}

.admin {
    width: 60%;
    text-align: center;
}

.admin:hover {
    font-weight: bold;
    background: #b41820;
    background: -webkit-linear-gradient(left top, #e3353e, #9d151c);
    background: -o-linear-gradient(bottom right, #e3353e, #9d151c);
    background: -moz-linear-gradient(bottom right, #e3353e, #9d151c);
    background: linear-gradient(to bottom right, #e3353e, #9d151c);
    box-shadow: 1px 1px 2px 2px #9d151c;
    color: white;
}

.log-button {
    float: right;
    margin-left: 10px;
}

.logger {
    margin: 2px;
    width: 90%;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

.admin-btns {
    float: right;
    margin: 8px 3% 8px 0;
}

.track-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}

.number {
    width: 25px;
    margin-right: 20px;
}

.track-buttons {
    float: right;
}

.top {
    display: table-cell;
    vertical-align: top;
    width: 45%;
    padding: 0px;
    border: 2px solid #bfbfbf;
}

.info {
    float: left;
    font-size: 24px;
    padding: 20px;
    width: 90%;
}

.menu {
    height: 25px;
}

.entry-title {
    margin-top: 10px;
    padding-left: 20px;
    float: left;
    display: inline-block;
    width: 60%;
}

.album {
    font-weight: bold;
}

.top-image-hold {
    float: right;
    width: 45%;
}

.cover {
    height: 80%;
    width: 80%;
    float: right;
    position: relative;
    margin: 20px;
    border: 2px;
    box-shadow: 0px 0px 2px 2px #4c4c4c; 
}

.top-info-hold {
    float: left;
    width: 50%;
}

.top-song {
    margin: 10px;
    margin-left: 10%;
    margin-top: 20%;
    position: relative;
    float: bottom;
    width: 80%;
}

.song-title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.label-title {
    display: inline-block;
    position: relative;
    margin: 20% 20px 20px 10%;
    width: 80%;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.myButton:active {
    position:relative;
    top:1px;
}

.increment {
    margin-left: 10px;
}

.item-info-hold {
    font-family: Century Gothic, sans-serif;
    font-size: 26px;
    color: #4c4c4c;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    
    margin: 10px auto;
    width: 60%;
    overflow: auto;
    padding: 20px;
}

.track-info-title {
    margin-bottom: 20px;
    font-family: Century Gothic, sans-serif;
    font-size: 30px;
    color: #4c4c4c;
}

.track-info-holder {
    color: #4c4c4c;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 

    margin: 15px auto 20px auto;
    padding: 20px;
    width: 60%;
}

.album-text-info {
    float: left;
    width: 50%;
    text-align: left;
    padding: 25px 0 0 25px;
}

.info-cover {
    width: 90%;
    height: 90%;
    float: right;
    margin: 20px;
    position: relative;
    border: 2px;
    box-shadow: 0px 0px 2px 2px #bfbfbf; 
}

#info-image-hold {
    float: right;
    width: 45%;
}

#message-holder {
    margin: 15px auto 10px auto;
}

#chart {
    background-color: #fff;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    margin: 30px auto;
    padding: 35px 15px;
    width: 80%;
    min-width: 370px;
}

#chart-table {
    border: 1px solid #bfbfbf;
    margin: 0 auto;
    width: 95%;
}

.mover {
    display: block;
    text-align: center;
    margin: 2px auto;
    font-size: 20px;
}

#chart-table th {
    border: 3px solid #bfbfbf;
    background-color: #f2f2f2;
    padding: 10px;
}

#chart-table td {
    border: 3px solid #bfbfbf;
    padding: 10px;
}

#date-form {
    width: 60%;
    margin: 0 auto 30px auto; 
    min-width: 370px;
    padding: 20px;
    background-color: #fff;
    font-family: Century Gothic, sans-serif;
    font-size: 22px;
    color: #4c4c4c;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
}

.twenty-date-hold {
    display: inline-block;
    margin: 0 30px;
}

.date-entry {
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    height: 25px;
}

.date-title {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}
.margined {
    margin-left: 5px;
}


.featured-song-edit {
    margin-top: 10px;
    margin-left: 35px;
}
