#table-hold {
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #bfbfbf; 
    margin: 0 auto;
    padding: 5px;
    width: 70%;
}

.act-table {
    background-color: #fff;
    border: 2px solid #bfbfbf; 
    box-shadow: 1px 1px 1px 1px #bfbfbf; 
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
}

th, td {
    border: 2px solid #bfbfbf; 
    padding: 14px;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
}

.type-updater {
    margin-top: 10px;
}

.request {
    width: 25px;
    height: 25px;
}

.verify {
    margin: 10px;
}
