{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tables.css')}}">
    <script>
    function update(user, index, type, symbol=null) {
        var new_val;
        var column;
        if (type == 'user_type') {
            new_val = $("#" + user + "-type").val();
        } else {
            new_val = "1"
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('update')}}",
            data: JSON.stringify({'index': index,
                                'table': 'users',
                                'symbol': symbol,
                                'new_val': new_val,
                                'id_val': user})
        }).done(function(data) {
            window.location.replace("{{url_for('accounts')}}");
        });
    }
    </script>
{% endblock %}
{% block page_title %}Accounts{% endblock %}
{% block content %}
    <div class="body">
        <div id="table-hold"> 
        <table class="act-table">
        <tr>
            <th>Symbol</th>
            <th>Email</th>
            <th>Type</th>
            <th>Verified</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{account[1]}}</td>
            <td>{{account[2]}}</td>
            <td>
                {% if account[4] == "NULL" %}
                    None
                {% else %}
                    {{account[4]}}
                {% endif %}
                {% if account[6] %}
                <img title="alert" alt="***" src="{{ url_for('static', filename='img/request.png') }}" class="request">
                {% endif %}
                <div class="type-updater">
                <select id="{{account[0]}}-type">
                    <option value="DJ">DJ</option>
                    <option value="MD">MD</option>
                    <option value="NULL">None</option>
                </select>
                <button onclick="update('{{account[0]}}', '4', 'user_type')">Update</button>
                </div>
            </td>
            {% if account[5] %}
            <td>YES</td>
            {% else %}
            <td>NO
            <button onclick="update('{{account[0]}}', '5', 'verify', '{{account[1]}}')" class="verify">Verify</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
