{% extends "base.html" %}
{% block title %}Add to Playlist{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form_style.css')}}">
    <script>
    function addForm() {
        var filled = true;
        var form_values = {};
        $.each( $("input"), function() {
            var inputname = $(this).attr("name");
            var value;
            if ($(this).attr("type") == "checkbox")
                value = $(this).is(':checked');
            else
                value =  $(this).val().trim();

            if (!value && $.inArray(inputname, ["artist", "album", "date"]) != -1) {
                filled = false;
                $("#message-holder").text("Missing " + inputname + ".");
                return false;
            }

            form_values[inputname] = value;
        });

        if (filled) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "{{url_for('add')}}",
                data: JSON.stringify(form_values),
            }).done(function(data) {
                window.location.replace("{{url_for('albumselect')}}");
            });
        }
    }
    </script>
{% endblock %}
{% block page_title %} Add to Playlist {% endblock %}
{% block content %}
    <div class="body">
    <div class="add-hold">
        <div class="item-holder">
        <div class="item-form left">
            <div>Artist*</div>
            <input type="text" name="artist" class="form-margin">
        </div>
        <div class="item-form right"> 
            <div>Album*</div>
            <input type="text" name="album" class="form-margin">
        </div>
        </div>
        <div class="info-form">
            <div>Release Date*</div>
            <input type="date" name="date" class="form-margin wide">
            <div>Label</div>
            <input type="text" name="label" class="form-margin wide">
            <div>Location</div>
            <input type="text" name="location" class="form-margin wide">
            <label><div>Local</div>
            <input type="checkbox" name="local" value="local" class="local"></label>
            <div id="message-holder">
            {% if message == "done" %}
            Successfully added. <a href="{{url_for('album_info', album=album)}}">View here.</a>
            {% endif %}
            </div>
            <button onclick="addForm()" class="myButton submit">Add</button>
        </div>
    </div>
    </div>
{% endblock %}
