{% extends "base.html" %}
{% block title %}Admin Menu{% endblock %}
{% block page_title %}Admin Menu{% endblock %}
{% block content %}
    <div class="body">
        <a href="{{url_for('add')}}">
            <div class="entry track admin">Add Item</div>
        </a>
        <a href="{{url_for('admin_playlist')}}">
            <div class="entry track admin">Edit Playlist</div>
        </a>
        <a href="{{url_for('admin_playlist', archive='archive')}}">
            <div class="entry track admin">Edit Archives</div>
        </a>
        <a href="{{url_for('edit20')}}">
            <div class="entry track admin">Edit Featured Tracks</div>
        </a>
        <a href="{{url_for('viewlog')}}">
            <div class="entry track admin">View Log (Make Playlist)</div>
        </a>
        <a href="{{url_for('accounts')}}">
            <div class="entry track admin">Account Management</div>
        </a>
    </div>
{% endblock %}
