{% extends "base.html" %}
{% block title %}{{ artist }} Albums{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/album_select.css') }}">
    <script>
    $(document).ready(function() {
        $.each($(".row"), function() {
            if ($(this).children().length == 1) {
                var filler = $("<div></div>", {
                    "class": "entry top album filler"
                });
                filler.insertAfter($(this).children(".entry"));
            }
        });
        $(".entry:not(.filler)").on("click", function() {
            var info_hold = $(this).find("span");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "{{url_for('insert', method='spotify')}}",
                data: JSON.stringify({'album_id': $(info_hold).attr("id"),
                                      'album': $(info_hold).attr("name"),
                                      'artist': '{{artist}}',
                                      'image': $(this).find("img").attr("src") }),
            }).done(function(data) {
                window.location.replace('/add' + '?msg=done' + '&album='
                                    + String(data));
            });
        });
    });

    $(document).ready(function() {
    $("#manual-add").click(function() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('insert', method='default')}}",
            data: JSON.stringify({'album': '{{album}}',
                                  'artist': '{{artist}}'})
        }).done(function(data) {
            window.location.replace('/add' + '?msg=done' + '&album='
                                    + String(data));
        });
    });
    });

    function bandcampGet() {
        var url = $("input[name='bandcamp']").val().trim();
        if (url) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "{{url_for('insert', method='bandcamp')}}",
                data: JSON.stringify({'album': '{{album}}',
                                      'artist': '{{artist}}',
                                      'url': url})
            }).done(function(data) {
                window.location.replace('/add' + '?msg=done' + '&album='
                                        + String(data));
            });
        }
    }
    </script>
{% endblock %}
{% block page_title %}{{artist}} Albums{% endblock %}
{% block content %}
    <div class="body">
    <div id="options">
        <div id="manual-add"><div>Add info later</div></div>
        <div id="bandcamp-add">
            <div id="bandcamp-contents">
                <div>Add info with bandcamp url of album</div>
                <input type="text" name="bandcamp" class="form-margin bandurl">
                <button class="myButton" onclick="bandcampGet()">Add</button>
            </div>
        </div>
    </div>
    {% for album in albums %}
    {% if loop.index0 % 2 == 0 %}
    <div class="row album-row">
    {% endif %}
    <div class="entry top album">
    <div class="info">
    <span name="{{album[0]}}" id="{{album[1]}}" class="info">{{ album[0] }}</span>
    </div>
    <div class="top-image-hold">
    <img title="{{album[0]}} Album Cover" alt="{{album[0]}} Album Cover" src="{{album[2]}}" class="cover">
    </div>
    </div>
    {% if (loop.index0 % 2 == 1) or ((loop.index0 % 2 == 0) 
            and (loop.index == albums|length)) %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
