{% extends "base.html" %}
{% block title %}{{album[1]}}{% endblock %}
{% block head %}
    {{ super() }}
    <script>
    function removeEntry(caller) {
        $(caller).parent().remove();
    }

    function addMore() {
        var new_div = $("<div></div>", {
            "class": "entry track track-sub larger" });
        var num_input = $("<input>", {
            "type": "text",
            "name": "number",
            "class": "number"}); 
        var name_input = $("<input>", {
            "type": "text",
            "name": "track-name",
            "class": "track-name"});

        var remover = $("<button></button>", {
            "class": "myButton remover",
            "style": "float:right",
            "onclick": "removeEntry(this)",
            "text": "X"});

        new_div.append("Number: ");
        new_div.append(num_input);
        new_div.append("Name: ");
        new_div.append(name_input);
        new_div.append(remover);

        $(".track-info-holder").append(new_div);
    }

    function submitTracks() {
        var new_tracks = {"tracks": [],
            "album": "{{album[0]}}"};
        $.each($(".track-sub"), function() {
            var num = $(".number", this).val().trim();
            var name = $(".track-name", this).val().trim();
            if ($.isNumeric(num)) {
                new_tracks['tracks'].push({
                    "number": num,
                    "name": name});
            } 
        });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('insert_tracks')}}",
            data: JSON.stringify(new_tracks)
        }).done(function(data) {
            window.location.replace("{{url_for('album_info', album=album[0])}}");
        });
    }

    function deleteTrack(album, track) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('delete_track')}}",
            data: JSON.stringify({'album': String(album),
                                'track': String(track)})
        }).done(function(data) {
            window.location.replace("{{url_for('album_info', album=album[0])}}");
        });
    }

    function updateImage() {
        var url = $("input[name='image']").val().trim();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('updateImage')}}",
            data: JSON.stringify({'url': url,
                                'album': '{{album[0]}}'})
        }).done(function(data) {
            window.location.replace("{{url_for('album_info', album=album[0])}}");
        });
    }

    function update(index) {
        var new_val;
        if (index == 6) {
            new_val = $("input[name='" + index + "']").is(":checked");
            if (new_val)
                new_val = "1";
            else
                new_val = "0";
        } else 
            new_val = $("input[name='" + index + "']").val().trim();

        if (new_val) {
            if (index == 8) {
                var dates = new_val.split('-');
                new_val = dates[1] + '-' + dates[2] + '-' + dates[0];
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "{{url_for('update')}}",
                data: JSON.stringify({'index': index,
                                    'table': 'albums',
                                    'new_val': new_val,
                                    'id_val': {{album[0]}}})
            }).done(function(data) {
                window.location.replace("{{url_for('album_info', album=album[0])}}");
            });
        }
    }
    </script>
{% endblock %}
{% block page_title %}{{album[1]}}{% endblock %}
{% block content %}
    <div class="body">
    <div class="item-info-hold">
        <div class="album-text-info">
        <div class="info-head">Album</div><div class="info-div">{{album[1]}}</div>
        {% if session.perm == "MD" %}
        <div class="updater">
            <input type="text" name="1" class="form-margin updates">  
            <button class="myButton" onclick="update('1')">Update</button>
        </div>
        {% endif %}

        <div class="info-head">Artist</div><div class="info-div">{{album[2]}}</div>
        {% if session.perm == "MD" %}
        <div class="updater">
            <input type="text" name="2" class="form-margin updates">  
            <button class="myButton" onclick="update('2')">Update</button>
        </div>
        {% endif %}

        <div class="info-head">Released</div><div class="info-div">{{album[8]}}</div>
        {% if session.perm == "MD" %}
        <div class="updater">
            <input type="date" name="8" class="form-margin updates">  
            <button class="myButton" onclick="update('8')">Update</button>
        </div>
        {% endif %}

        <div class="info-head">Label</div><div class="info-div">{{album[4]}}</div>
        {% if session.perm == "MD" %}
        <div class="updater">
            <input type="text" name="4" class="form-margin updates">  
            <button class="myButton" onclick="update('4')">Update</button>
        </div>
        {% endif %}

        <div class="info-head">Location</div><div class="info-div">{{album[5]}}</div>
        {% if session.perm == "MD" %}
        <div class="updater">
            <input type="text" name="5" class="form-margin updates">  
            <button class="myButton" onclick="update('5')">Update</button>
        </div>
        {% endif %}

        {% if album[6] %}
        <div class="info-head">*Local*</div>
        {% endif %}
        {% if session.perm == "MD" %}
        <div class="updater local-updater">
            <label>Local?
            <input type="checkbox" name="6" class="local-updates"> 
            </label>
            <button class="myButton" onclick="update('6')">Update</button>
        </div>
        {% endif %}
        </div>
        <div id="info-image-hold">
        <img title="{{album[1]}} Album Cover" alt="{{album[1]}} Album Cover" src="{{url_for('static', filename='img/' + album[0]|string + '.jpg')}}" class="info-cover"> 
        <div>
            {% if session.perm == "MD" %}
            <input type="text" name="image" class="form-margin updates"
                    placeholder="add image url">  
            <button class="myButton" onclick="updateImage()">Update</button>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="track-info-holder"><div class="track-info-title">Tracks</div>
    {% for track in tracks %}
    <div class="entry track larger">
    {{track[0]}}) {{track[1]}}
    {% if session.perm == "MD" %}
    <button class="myButton right" onclick="deleteTrack('{{album[0]}}', '{{track[0]}}')">X</button>
    {% endif %}
    </div>
    {% endfor %}
    {% if session.perm == "MD" %}
    <div class="entry track track-sub larger">
    Number: <input type="text" name="number" class="number form-margin">
    Name: <input type="text" name="track-name" class="track-name form-margin">
    <span class="track-buttons">
        <button class="myButton" onclick="addMore()">Add More</button>
        <button class="myButton" onclick="submitTracks()">Submit</button>
    </span>
    </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
