{% extends "base.html" %}
{% block title %}Past Top 20s{% endblock %}
{% block page_title %}Past Top 20s{% endblock %}
{% block content %}
    <div class="body">
    {% for archive in archives %}
    <a href="{{url_for('top20', file_date=archive)}}">
    <div class="archive-20">{{archive|replace('.json','')|replace('_','/')}}</div>
    </a>
    {% endfor %}
    </div>
{% endblock %}
