<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/icon.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% endblock %}
    <script>
    $(document).ready(function () {
        setNavigation();
    });
    
    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\$/, "");
        path = decodeURIComponent(path);

        $.each($(".navlink"), function() {
            var href = $(this).attr("href");
            if (path == href)
                $(this).closest('li').addClass('active');
            else
                $(this).closest('li').removeClass('active');
        });
    }
    </script>
</head>
<body>
    <div id="header-main">
        <div id="logo">
            <img title="WHRB 95.3 FM - Harvard Radio Broadcasting" alt="WHRB Logo" src="{{ url_for('static', filename='img/whrb_logo.svg') }}">
        </div>
        <div id="title">{% block page_title %}{% endblock %}</div>
    </div>
    <div id="navbar">
        <ul class="navlist">
            <li><a href="{{url_for('top20')}}" class="navlink">Top 20</a></li>
            <li><a href="{{url_for('playlist')}}" class="navlink">Playlist</a></li>
            <li><a href="{{url_for('playlist', archive='archive')}}" class="navlink">Archives</a></li>
            <li><a href="{{url_for('archives')}}" class="navlink">Past Top 20s</a></li>
        </ul>
        <ul class="navlist right">
            {% if session.user %}
            <li><a href="{{url_for('logout')}}" class="navlink">Logout</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}" class="navlink">Login/ Register</a></li>
            {% endif %}
            {% if session.perm == "MD" %}
            <li><a href="{{url_for('admin_page')}}" class="navlink">Admin</a></li>
            {% endif %}
            {% if session.user %}
            <li id="username"><div>{{ session.user }}</div></li>
            {% endif %}
        </ul>
    </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
