{% extends "base.html" %}
{% block title %}Edit Top 20{% endblock %}
{% block page_title %}
Edit Top 20
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
    function getInfo(album) {
        window.location.replace("{{url_for('album_info', album='')}}" + album);
    }

    $(document).ready(function() {
        var max_height = 0;
        var open = JSON.parse(localStorage.getItem("twenty-open"));
        if (!open) {
            open = [];
        }
        $.each($(".entry"), function() {
            if (open.indexOf($(this).attr("id")) != -1) {
                show_children($(this).attr("id"), auto=true);
            } 
        });

        $("body").on("click", "div.solo-song-hold", function() {
            var song = $(this).text().split(") ")[1];
            var id = $(this).parent().parent().attr("id");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "{{url_for('updateSong')}}",
                data: JSON.stringify({"id": id, "song": song})
            }).done(function(data) {
                window.location.replace("{{url_for('edit20')}}");
            });
        });
    });

    var tracks_gotten = [];
    function get_tracks(container_id) {
        var perm = "{{session.perm}}"
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: "/getTracks/" + String(container_id)
        }).done(function(data) {
            data = JSON.parse(data);
            var tracks = data['tracks'];
            var track_hold = $("#" + container_id).find(".tracks") 
            for (i = 0; i < tracks.length; i++) {
                var track_text = String(tracks[i][0]) + ") " + String(tracks[i][1])
                
                var track = $("<div></div>", {
                            "class": "solo-song-hold",
                            "text": track_text });

                track_hold.append(track);
            }
            $("#" + container_id).append(track_hold);
            tracks_gotten.push(container_id);
        }); 
    }

    function show_children(container_id, auto=false) {
        if (tracks_gotten.indexOf(container_id) == -1)
            get_tracks(container_id);

        var open = JSON.parse(localStorage.getItem("twenty-open"));
        if (!open)
            open = [];
        
        var button = $("#" + container_id).find(".toggler");
        if (button.text() == "Show Tracks")
            button.text("Hide Tracks");
        else
            button.text("Show Tracks");

        var opened = false;
        $.each($("#" + container_id).children(), function() {
            if ($(this).attr("class") == "tracks") {
                if ($(this).css("visibility") == "hidden") {
                    if (!auto)
                        open.push(container_id);
                    
                    $(this).css("visibility", "visible");
                    $(this).css("margin-top", "20px");
                    $(this).height("auto");
                    opened = true;
                } else {
                    var index = open.indexOf(container_id);
                    if (index > -1)
                        open.splice(index, 1);
                    
                    $(this).css("visibility", "hidden");
                    $(this).css("margin-top", "0px");
                    $(this).height(0);
                }
            }
        });
        localStorage.setItem("twenty-open", JSON.stringify(open));
    };
    </script>
{% endblock %}
{% block content %}
    <div class="body">
    {% for entry in top_twenty %}
    <div class="entry item-info" id="{{entry[0]}}"> 
        <div class="menu">
        <div class="entry-title">
        <span class="album">{{loop.index}}) {{entry[1]}}</span> - {{entry[2]}}
            <div class="featured-song-edit">"{{entry[9]}}"</div>
        </div>
        <div class="admin-btns">
        <button onclick="show_children('{{entry[0]}}')" class="myButton toggler">Show Tracks</button>
        </div>
        </div>
        <div class="tracks"></div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
