{% extends "base.html" %}
{% block title %}{% if register %}Register
                        {% else %}Login {% endif %}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form_style.css')}}">
    <script>
    function verifyForm(register) {
        var filled = true;
        var form_values = {};
        $.each( $(".login"), function() {
            var inputname = $(this).attr("name");
            var value = $(this).val().trim();
            form_values[inputname] = value;
            if (!value) {
                inputname = inputname.replace("-"," ");
                $("#error").text("Missing " + inputname + ".");
                $("#error").css("margin-bottom", "15px");
                filled = false;
                return false;
            }
        });
        var matching = true;
        if (register) {
            if (form_values['email'] != form_values['email-confirmation']) {
                $("#error").text("Emails do not match.");
                $("#error").css("margin-bottom", "15px");
                matching = false;
            } else if (form_values['password'] !=
                        form_values['password-confirmation']) {
                $("#error").text("Passwords do not match.");
                $("#error").css("margin-bottom", "15px");
                matching = false;
            }
        }
        if (filled && matching) {
            var post_url;
            if (register)
                post_url = "{{url_for('register')}}";
            else
                post_url = "{{url_for('login')}}";
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: post_url,
                data: JSON.stringify(form_values)
            }).done(function(data) {
                if (data == "done") {
                    if ('referrer' in document)
                        location.replace(document.referrer);
                    else
                        window.history.back();
                } else if (data == "registered") {
                    window.location.replace("{{url_for('completed')}}");
                } else if (data == "user not found") {
                    $("#error").text("User not found.");
                    $("#error").css("margin-bottom", "15px");
                } else if (data == "incorrect password") {
                    $("#error").text("Incorrect password.");
                    $("#error").css("margin-bottom", "15px");
                } else if (data == "symbol") {
                    $("#error").text("That symbol is already taken.");
                    $("#error").css("margin-bottom", "15px");
                } else if (data == "bad email") {
                    $("#error").text("Invalid email address.");
                    $("#error").css("margin-bottom", "15px");
                } else if (data == "email") {
                    $("#error").text("There is already an account registered to that email.");
                    $("#error").css("margin-bottom", "15px");
                }
            });
        }
    }

    $(document).on("keypress", "input[type=password]", function (e) {
        if (e.keyCode == 13 || e.which == 13) {
        {% if register %}
            verifyForm(true);
        {% else %}
            verifyForm(false);
        {% endif %}
        }
    });
    </script>
{% endblock %}
{% block page_title %}{% if register %}Register
                    {% else %}Login {% endif %}{% endblock %}
{% block content %}
    <div class="body">
    <div class="add-hold">
        <div class="label">
            Symbol
        </div>
        <input type="text" name="symbol" class="form-margin login">
        {% if register %}
            <div class="label">
                Email
            </div>
            <input type="text" name="email" class="form-margin login">
            <div class="label">
                Confirm Email
            </div>
            <input type="text" name="email-confirmation" class="form-margin login">
        {% endif %}
        <div class="label">
            Password
        </div>
        <input type="password" name="password" class="form-margin login">
        {% if register %}
            <div class="label">
                Confirm Password
            </div>
            <input type="password" name="password-confirmation" class="form-margin login">
        {% endif %}
    <div id="error">
        {{error}}
    </div>
    <div id="redirect">
        {% if register %}
        Already have an account? <a href="{{url_for('login')}}">Login</a>
        {% else %}
        Don't have an account? <a href="{{url_for('register')}}">Register</a>
        {% endif %}
    </div>
    <div class="submit-hold">
        {% if register %}
        <button onclick="verifyForm(true)" class="myButton">Register</button>
        {% else %}
        <button onclick="verifyForm(false)" class="myButton">Login</button>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
