{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <script>
    {% if log %}
    $(document).ready(function() {
        $("#message-body").width("90%");
    });
    {% endif %}
    </script>
    {% if session.perm == "MD" and chart %}
    <script>
    function make20() {
        var raw_start = $("input[name='start']").val();
        var raw_end = $("input[name='end']").val();
        
        var start_parts = raw_start.split("-");
        var end_parts = raw_end.split("-");

        var start = start_parts[1] + "/" + start_parts[2] + "/" + start_parts[0]
        var end = end_parts[1] + "/" + end_parts[2] + "/" + end_parts[0]

        var wait_msg = $("<div></div>", {
                        "class": "wait-text",
                        "text": "Making top 20, please wait..." });
        $("#log-confirm").prepend(wait_msg);
        $("#log-confirm button").css("marginBottom", "15px");

        var rows = $("#chart-table").find("tr");
        if (rows.length < 21) {
            $(wait_msg).text("Not enough entries in log.");
            return
        }

        var top20 = [];
        $.each(rows, function(i, row) {
            if (i && i < 21) {
                var cols = $(row).find("td");
                top20.push($(cols[1]).text() + "@^$*@" + $(cols[2]).text());
            }
        });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "{{url_for('make20')}}",
            data: JSON.stringify({"start": start, "end": end, "chart": top20})
        }).done(function(data) {
            window.location.replace("{{url_for('top20')}}");
        });
    }

    function switch_ranks(rank1, rank2) {
        var chart = $("#chart-table");
        var rows = chart.find("tr");
        var rank1_row = $(rows[rank1]).find("td");
        var rank1_info = [];
        $.each(rank1_row, function(i, td) {
            rank1_info.push($(td).text());
        });
        var rank2_row = $(rows[rank2]).find("td");
        $.each($(rows[rank1]).find("td"), function(i, td) {
            if (i && i < 4)
                $(td).text($(rank2_row[i]).text());
        });
        $.each($(rows[rank2]).find("td"), function(i, td) {
            if (i && i < 4)
                $(td).text(rank1_info[i]);
        });
    }

    $(document).ready(function() {
        var chart = $("#chart-table"); 
        var rows = chart.find("tr"); 
        var max_next = rows.length - 1;
        var next = null;
        var prev = null;
        var this_col = null;
        $.each(rows, function(i, row) {
            if (i) {
                this_col = $(row).find("td");
                if (i < max_next)
                    next = $(rows[i+1]).find("td");
                else
                    next = null;

                if (prev && $(prev[3]).text() == $(this_col[3]).text()) {
                    var button = $("<button></button", {
                        "text": "/\\",
                        "class": "mover",
                        "onclick": "switch_ranks('" + String(i-1) + "','" + String(i) + "')"});
                    $(this_col[4]).append(button); 
                } 
                if (next && $(next[3]).text() == $(this_col[3]).text())
                    var button = $("<button></button", {
                        "text": "\\/",
                        "class": "mover",
                        "onclick": "switch_ranks('" + String(i) + "','" + String(i+1) + "')"});
                    $(this_col[4]).append(button); 
                }
                prev = this_col;
        });
    });
    </script>
    {% endif %}
{% endblock %}
{% block page_title %}{{title}}{% endblock %}
{% block content %}
    <div class="body">
        <div id="message-body" class={% if not log %}"table"{% endif %}>
        {% if log %}
            <div>
            <div id="log-template">user: album - artist - track</div>
            <pre id="log-text">{{message}}</pre></div>
        </div>
            {% if chart %}
            <div id="chart">
                <table id="chart-table">
                    <tr>
                        <th>Rank</th>
                        <th>Album</th>
                        <th>Artist</th>
                        <th>Plays</th>
                        <th></th>
                    </tr>
                    {% for entry in chart %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{entry[0]}}</td>
                        <td>{{entry[1]}}</td>
                        <td>{{entry[2]}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div id="date-form">
                <div class="twenty-date-hold">
                    <div class="date-title">Start Date</div>
                    <input type="date" name="start" value="{{start}}" class="date-entry">
                </div>
                <div class="twenty-date-hold">
                    <div class="date-title">End Date</div>
                    <input type="date" name="end" value="{{end}}" class="date-entry">
                </div>
            </div>
            <div id="log-confirm">
                <button onclick="make20()" class="myButton">Make Top 20</button>
            </div>
        {% else %}
            <div class="message-text">{{message|safe}}</div>
        </div>
        {% endif %}
    </div>
{% endblock %}
