{% extends "base.html" %}
{% block title %}Playlist{% endblock %}
{% block page_title %}
        Record Hospital Playlist
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
    function log(album, track) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/log",
            data: JSON.stringify({'album': String(album),
                                'track': String(track)})
        }).done(function() {
            window.location.replace("/playlist#" + album);
        });
    }

    function remove(album) {
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: "/remove/" + String(album)
        }).done(function() {
            window.location.replace("{{url_for('admin_playlist')}}");
        });
    }

    function drop(album) {
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: "/drop/" + String(album)
        }).done(function() {
            window.location.replace("{{url_for('admin_playlist', archive='archive')}}");
        });
    }

    function getInfo(album) {
        window.location.replace("{{url_for('album_info', album='')}}" + album);
    }

    $(document).ready(function() {
        var sort_key = "{{sort}}";
        $.each($(".sort-link"), function() {
            var key = $(this).text().toLowerCase();
            if (key == sort_key) {
                $(this).css("color", "#b41820");
            }
        });

        var max_height = 0;
        var open = JSON.parse(localStorage.getItem("open"));
        if (!open) {
            open = [];
        }
        $.each($(".entry"), function() {
            if (open.indexOf($(this).attr("id")) != -1) {
                show_children($(this).attr("id"), auto=true);
            } 
        });
    });

    var tracks_gotten = [];
    function get_tracks(container_id) {
        var perm = "{{session.perm}}"
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: "/getTracks/" + String(container_id)
        }).done(function(data) {
            data = JSON.parse(data);
            var plays = data['plays'];
            {% if not archive %}
            if (perm == "DJ" || perm == "MD") {
                if (plays == 1)
                    end = "";
                else
                    end = "s"
                $("a[name='" + String(container_id) + "']").append("(" + plays + " play" + end + ")");
            }
            {% endif %}
            var tracks = data['tracks'];
            var track_plays = data['track_plays'];
            var track_hold = $("#" + container_id).find(".tracks") 
            for (i = 0; i < tracks.length; i++) {
                var track_text = String(tracks[i][0]) + ") " + String(tracks[i][1])
                
                {% if not archive %}
                if (perm == "DJ" || perm == "MD") {
                    var end;
                    if (track_plays[i] == 1) 
                        end = "";
                    else
                        end = "s"; 

                    track_text += " (" + String(track_plays[i]) + " play" + end + ")"
                }
                {% endif %}

                var track = $("<div></div>", {
                            "class": "solo-song-hold",
                            "text": track_text });
                {% if not archive %}
                if (perm == "DJ" || perm == "MD") {
                    var button = $("<button></button>", {
                                "class": "myButton",
                                "onclick": "log('" + container_id + "','" + tracks[i][0] + "')",
                                "style": "float:right",
                                "text": "+"});
                    track.append(button);
                }
                {% endif %}

                track_hold.append(track);
            }
            $("#" + container_id).append(track_hold);
            tracks_gotten.push(container_id);
        }); 
    }

    function show_children(container_id, auto=false) {
        if (tracks_gotten.indexOf(container_id) == -1)
            get_tracks(container_id);

        var open = JSON.parse(localStorage.getItem("open"));
        if (!open)
            open = [];
        
        var button = $("#" + container_id).find(".toggler");
        if (button.text() == "Show Tracks")
            button.text("Hide Tracks");
        else
            button.text("Show Tracks");

        $.each($("#" + container_id).children(), function() {
            if ($(this).attr("class") == "tracks") {
                if ($(this).css("visibility") == "hidden") {
                    if (!auto)
                        open.push(container_id);
                    
                    $(this).css("visibility", "visible");
                    $(this).css("margin-top", "20px");
                    $(this).height("auto");
                } else {
                    var index = open.indexOf(container_id);
                    if (index > -1)
                        open.splice(index, 1);
                    
                    $(this).css("visibility", "hidden");
                    $(this).css("margin-top", "0px");
                    $(this).height(0);
                }
            }
        });
        localStorage.setItem("open", JSON.stringify(open));
    };
    </script>
{% endblock %}
{% block content %}
    <div class="body">
    <div id="info-hold">
        <div id="key">Album | Artist</div>
        <div id="sort-hold">
                <div id="sort-label">Sort</div>
                {% if not admin %}
                <a href="{{url_for('playlist', archive=archive, sort='album')}}" class="sort-link">Album</a>
                <a href="{{url_for('playlist', archive=archive, sort='artist')}}" class="sort-link">Artist</a>
                <a href="{{url_for('playlist', archive=archive, sort='newest')}}" class="sort-link">Newest</a>
                <a href="{{url_for('playlist', archive=archive, sort='oldest')}}" class="sort-link">Oldest</a>
                {% else %}
                <a href="{{url_for('admin_playlist', archive=archive, sort='album')}}" class="sort-link">Album</a>
                <a href="{{url_for('admin_playlist', archive=archive, sort='artist')}}" class="sort-link">Artist</a>
                <a href="{{url_for('admin_playlist', archive=archive, sort='newest')}}" class="sort-link">Newest</a>
                <a href="{{url_for('admin_playlist', archive=archive, sort='oldest')}}" class="sort-link">Oldest</a>
                {% endif %}
        </div>
    </div>
    {% for entry in playlist %}
    <div class="entry item-info{% if admin %} admin-entry{% endif %}" id="{{entry[0]}}"> 
        <div class="menu">
        <div class="entry-title">
        <a name="{{entry[0]}}">
        <span class="album">{{entry[1]}}</span> - {{entry[2]}}
        </a>
        {% if not admin %}
        </div>
        <div class="admin-btns">
        <button class="myButton" onclick="getInfo('{{entry[0]}}')">Info</button>
        <button onclick="show_children('{{entry[0]}}')" class="myButton toggler">Show Tracks</button>
        </div>
        </div>
        <div class="tracks"></div>
        {% else %}
        </div>
        <div class="admin-btns">
            <button class="myButton" onclick="getInfo('{{entry[0]}}')">Info</button>
            {% if not archive %}
            <button class="myButton" onclick="remove('{{entry[0]}}')">Archive</button>
            {% endif %}
            <button class="myButton" onclick="drop('{{entry[0]}}')">Delete</button>
        </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
{% endblock %}
