{% extends "base.html" %}
{% block title %}Top 20{% endblock %}
{% block head %}
    {{ super() }}
    <script>
    $(window).on("load resize", function(e) {
        $.each($(".row"), function() {
            var max_height = 0;
            var first_cell;
            $.each($(this).find(".info"), function() {
                if (!first_cell) {
                    first_cell = this;
                    max_height = $(this).height();
                } else if ($(this).height() < max_height) {
                    $(this).height(max_height);
                } else if ($(this).height() > max_height) {
                    $(first_cell).height($(this).height());
                }
            });
        });
    });
    </script>
{% endblock %}
{% block page_title %}
Record Hospital Top 20
{% endblock %}
{% block content %}
    <div class="body">
    <div id="date">
    {% if end_date %}
        {{file_date}} to {{end_date}}
    {% else %}
        Week of {{file_date}}
    {% endif %}
    </div>
    <div id="top-format-hold">
    <div id="top-format">
    {% if not playlist[0][10] %}Rank{% else %}<span class="bold">This</span> | Last{% endif %} ) <span class="bold margined"> Album</span> - Artist
    </div> 
    </div>
    {% for entry in playlist %}
    {% if loop.index0 % 2 == 0 %}
    <div class="row">
    {% endif %} 
    <div class="entry top" id="{{entry[1]}}"> 
        <a href="{{url_for('album_info', album=entry[0])}}" class="top-link">
        <div class="info">
        {% if entry[10] %}<span class="bold">{% endif %}{{loop.index}}{% if entry[10] %}</span>{% endif %}{% if entry[10] %} | {{entry[10]}} {% endif %})
        <span class="album">{{entry[1]}}</span> - {{entry[2]}}
        </div>
        </a>
        <a href="{{url_for('album_info', album=entry[0])}}">
        <div class="top-info-hold">
        <div class="top-song">Featured Track: 
            <div class="song-title">"{{entry[9]}}"</div>
        </div>
        <div class="label-title">{{entry[4]}}{% if "self" not in entry[4]|lower and "release" not in entry[4]|lower and "WHRB" not in entry[4]%} Records{% endif %}</div>
        </div>
        </a>
        <div class="top-image-hold">
        <a href="{{url_for('album_info', album=entry[0])}}">
        <img title="{{entry[1]}} Album Cover" alt="{{entry[1]}} Album Cover" src="{{url_for('static', filename='img/' + entry[0]|string + '.jpg')}}" class="cover"> 
        </a>
        </div>
    </div>
    {% if loop.index0 % 2 == 1 %}
    </div>
    {% endif %} 
    {% endfor %}
    </div>
{% endblock %}
